@font-face {
  font-family: "Cinzel";
  src: url(./assets/fonts/Cinzel-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
} 

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body{
  background-color: black;
}

@view-transition{
  navigation: auto;
}


::view-transition-old(image-flower),
::view-transition-new(image-flower),
::view-transition-old(image-flowers),
::view-transition-new(image-flowers),
::view-transition-old(image-black-forrest),
::view-transition-new(image-black-forrest),
::view-transition-old(image-castle),
::view-transition-new(image-castle),
::view-transition-old(image-cherry-blossom),
::view-transition-new(image-cherry-blossom),
::view-transition-old(image-cosmos),
::view-transition-new(image-cosmos),
::view-transition-old(image-galaxy),
::view-transition-new(image-galaxy),
::view-transition-old(image-japan),
::view-transition-new(image-japan),
::view-transition-old(image-lake),
::view-transition-new(image-lake),
::view-transition-old(image-world-map),
::view-transition-new(image-world-map),
::view-transition-old(image-dart),
::view-transition-new(image-dart),
::view-transition-old(image-night-sky),
::view-transition-new(image-night-sky),
::view-transition-old(image-ocean),
::view-transition-new(image-ocean),
::view-transition-old(image-fire),
::view-transition-new(image-fire),
::view-transition-old(image-humingbird),
::view-transition-new(image-humingbird),
::view-transition-old(image-tokyo),
::view-transition-new(image-tokyo),
::view-transition-old(image-shanghai-shi),
::view-transition-new(image-shanghai-shi),
::view-transition-old(image-owl),
::view-transition-new(image-owl),
::view-transition-old(image-art),
::view-transition-new(image-art) {
  object-fit: cover;
  overflow: clip;
}

